#yourbmi {
    margin-left: 100%;
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
#wrapper {
    width: 100%;
}

body {
    background-image: url("../images/minh.jpg");
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}


.omg{
    font-family: 'Dancing Script';
    font-size: 180px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: #770000;
    margin-top: -5%;
}

.describ{
    font-family: 'Dancing Script';
    width: 60%;
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #770000;
    margin-top: 10px;
}

.omgfoodtour {
    margin-top: 50px;
}

#ip1, #ip2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.enter input {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display: block;
    width: 500px;
    height: 60px;
    font-size: 100%;
}
#calcu, #book{
    font-family: 'Dancing Script';
    background-color: #770000; 
    border-radius: 50px;
    display: block;
    color: white;
}

#calcu{
    width: 250px;   
    font-family: 'Dancing Script';
    color: white;
    font-size: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#book{
    font-size: 62px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
    width: 312px;
}

#calcu:hover,#book:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
} 

#ip1:hover, #ip2:hover {
    border: 2px solid #90E6F5;
}


/* HEADER  */


#search {
    font-family: 'Dancing Script';
    color: black;
    border-color: black;
    background-color: white;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    line-height: normal;
    cursor: pointer;    
    user-select: none;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    transition: background-color 150ms ease-in,border-color 150ms ease-in;
    font-size: 1em;
    color: inherit;
    padding: .25em 0.75em .3em;
    margin: 0 .125rem .2rem;
}
/* .abc {
    max-width: 1495px !important;
} */
#logoo {
    background: none;
    border: 0px;
    margin-left: -1%;
}
#logo {
    font-weight: bolder;
}
#logo:hover {
    cursor: pointer;
}

.header{
    height: 50px;
    display: block;
    background-color: #8B8970;
}
.header-2{
    height: 80px;
    display: block;
    background-color: white;
}

.group-icons{
    background: #8B8970;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-groups{
    margin-right: 5px;
    color: white;
}

.inner-header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    /* background-color: red; */
}
.selection {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.logo_container  h1{
    color: #770000;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Dancing Script';
    font-size: 50px;
    font-weight: 200px
}
.menu-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}   

.menu-selection a{
    margin-right: 10px;
    font-weight: bold;
    font-family: 'Montserrat';
    color: #770000;
    vertical-align: middle;
}
.logo_container  h1 span{
    font-weight: bold;
    
}
.menu-navigation{
    background: white;
}

.navigation{
    display: flex;
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a :last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color:#770000;
    font-family: 'Montserrat';
    font-size: 16px;
}
#header11 {
    width: 100%;
}

/* HET HEADER  */

/* FOOTER */
.footer{
    margin-top: 20px;
    display: block;
    padding: 20px 0;
    box-sizing: border-box;
    background-color:  #8B8970;
    height: fit-content;
}

.inner_footer{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: "Montserrat";
    font-size: 15px;
    color: white;
}

.inner_footer .footer_third a {
    display: block;
    margin-top: 5px;
    color: white;
}
#comment{
    margin-left: 350px;
} 
#boxcomment{
    margin-left: 300px;;
}
#result {
    border: 3px solid white; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(61, 53, 53, 0.4); /* Black w/opacity/see-through */
    width: fit-content;
    text-align: center;
    margin-left: 39%;
    margin-top: 0%;
    font-size: 50px;
    font-family: 'Dancing Script';
    color: white;
    font-weight: bolder;
}

/* .inner_footer .footer_third > span {
    margin-top: 10px;
} */
/* .inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
    margin-top: 0;
    margin-bottom: auto;
}
.inner_footer .footer_third :last-child{
    margin-right: 0;
}
.inner_footer .footer_third h1{
    font-family: "Montserrat";
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.inner_footer .footer_third a{
    font-family: "Montserrat";
    font-size: 15px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.inner_footer .footer_third span{
    color: white;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 0px; */
/* } */











